.track-area {
    height: 500px;
    border: 1px solid black;
}

.label-area {
    display: flex;
    align-items: center;
    height: 25px;
    width: 100%;
    border-bottom: 1px solid black;
}

.label-area :focus {
    outline: 2px solid black;
}

.playhead-area {
    height: 25px;
    width: 100%;
    border-bottom: 1px solid black;
}

.playhead-area :focus {
    outline: 2px solid black;
}

.waveform-area {
    height: 400px;
    width: 100%;
    border-bottom: 1px solid black;
}

.controls-area {
    height: 50px;
    width: 100%;
}